<ul>
  <!-- <li *ngFor="let program of ( programs$ | async )"> -->
  <li *ngFor="let program of programs" class="flex-row list-row">
    <div class="flex">
      <h2 class="flex-item">
        {{ program.name }}
      </h2>
      <p class="flex-item">
        {{ program.author }}
      </p>
    </div>
    <div class="flex">
      <button (click)="onEdit(program)" class="btn btn--edit flex-item">edit</button>
      <button (click)="onDelete(program)" class="btn btn--delete flex-item">delete</button>
    </div>
  </li>
</ul>
