<ActionBar class="hidden">
</ActionBar>
<GridLayout rows="*, auto" columns="*">
    <ScrollView row='0' col='0' class="container">
        <ListView [items]="programs">
            <ng-template let-item="item">
                <GridLayout row="0" col="0" rows="*" columns="*, *, *" class="list">
                    <FlexboxLayout row="0" col="0" class="flex-start">
                        <label [text]="item.name"></label>
                    </FlexboxLayout>
                    <FlexboxLayout row="0" col="1" class="flex-start">
                        <label [text]="item.author"></label>
                    </FlexboxLayout>
                    <FlexboxLayout row="0" col="2" class="flex-end">
                        <Button text="OPEN" class="load-btn" (touch)="open(item)"></Button>
                    </FlexboxLayout>
                </GridLayout>
            </ng-template>
        </ListView>
    </ScrollView>
    <GridLayout row="1" col="0" rows="*" columns="*, *, *, *" class="actions">
        <Button row="0" col="3" text="MANUAL" (touch)="goToManual()"></Button>
    </GridLayout>
</GridLayout>
