/* Add mobile styles for the component here.  */
.play-btn {
  background-image: url("~/images/play.png");
}

.pause-btn {
  background-image: url("~/images/pause.png");
}

.stop-btn {
  background-image: url("~/images/stop.png");
}

.action-btn {
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100 100;
}

.actions button {
  background-color: rgba(255, 166, 0, 0.3);
  color: orange;
  border-width: 2;
  border-color: orange;
  font-size: 12;
  border-radius: 5;
  margin: 5;
}

.list FlexboxLayout {
  flex-direction: column;
  font-size: 20;
  padding: 10;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.load-btn {
  background: rgba(238, 130, 238, 0.3);
  color: violet;
}

.container {
  padding: 10;
}
