<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<page-router-outlet></page-router-outlet>
<!-- <FlexboxLayout class="flexbox-layout">
  <Button
    class="btn red"
    (touch)="onTouch('http', $event)"
    [text]="btnRedText"
  ></Button>
  <Button
    class="btn green"
    (touch)="onTouch('socket', $event)"
    [text]="btnGreenText"
  ></Button>
  <Button
    class="btn yellow"
    (touch)="onTouch('bluetooth', $event)"
    [text]="btnYellowText"
  ></Button>
</FlexboxLayout> -->
